/* Leaflet API - MAPS */ 


// style.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)


@import "../../node_modules/bootstrap/scss/bootstrap";


// Then add additional custom code here

h1 {
    text-align: center;
    margin-top: 4px;
}

#leaflet{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 20px;  
} 

#map {
    width: 100%;
    height: 900px;
   
   
}

#apartments {
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 10px; 
    padding: 10px;
    background-color: azure;
}

#apartments div img {
    width: 100%;
}

#apartments div img:hover {
    opacity: 0.5;
    cursor:zoom-in;
}

#apartments div p {
    text-align: right;
    margin-right: 10px;
    font-size: 20px;
}


/*--------------------Geo-location--------------*/
#userLocationBox{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 300px;
    text-align: center;
}

#userLocationBox p{
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
}

#userLocationBox p::first-line{
    color: deeppink;
    font-size: 1.25em;
    line-height: 50px;
}
#getLocationBtn, #stopWatchingBtn{
    background-color: chocolate;
    padding: 10px 20px;
    border: 2px solid rgb(3, 87, 83);
    cursor: pointer; 
    color: whitesmoke; 
    font-size: 16px;
    text-align: center;
}
#getLocationBtn:hover, #stopWatchingBtn:hover{
    background-color: rgba(210, 105, 30, 0.676);
}





















/* Media Queries */

/* Ipad */
@media (max-width: 799px) { 
    #leaflet{
        grid-template-columns: 1fr;    
    } 

    #map { 
        order: 1;
        height: 500px;
    }
    #apartments {
        order: 2;
    }

}

/* Iphone x */
@media (max-width: 477px) {
    #map {  
        height: 400px;
    }

    #userLocationBox{
       
        height: 470px;
        
    }

    #getLocationBtn {
        margin-bottom: 10px;
        width: 60%;
    }
    #stopWatchingBtn {
        width: 60%;
    }
}