// style.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../../node_modules/bootstrap/scss/bootstrap";
.btn-primary {
  --bs-btn-bg: #088178;
  --bs-btn-border-color: #088178;
  --bs-btn-hover-bg: #07544f;
  --bs-btn-disabled-bg: #088178;
  --bs-btn-disabled-border-color: #088178;
}

// Then add additional custom code here

/* Root-level custom properties */
$primary-color: #333;
$secondary-color: #222;
$text-color: #465b52;
$bg-color: #e3e6f3;
$font-stack: "League Spartan", sans-serif;
$base-padding: 1rem;
$box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06);
$link-color: #1a1a1a;
$hover-color: #088178;
$black-mode: #000106;
$base-font-size: 16px;
$border-color: #cce7d0;

/*---------------------------------- Header Section----------------------------------------------------------- */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 10px 20px;
  border-bottom: 0.5px solid grey;
  background-color: rgb(208, 202, 214);
  box-shadow: 2px 2px 2px grey;
  border-radius: 4px;
}
/* Hamburger button */
.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
main {
  background-image: url("../../public/img/banner_member.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-right: 300px;
}

#navbar li {
  list-style: none;
  font-size: 24px;
}
#navbar li a {
  text-decoration: none;
  color: $hover-color;
  font-weight: 600;
}
// Custom styles for the signup page

.signup-box {
  background-color: #fff;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Media Queries */

/*  Ipad */
@media (max-width: 799px) {
  body {
    overflow: hidden;
    height: 450px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  /* Ensure that all child elements respect the box-sizing rule */
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  header {
    overflow: hidden;
  }

  #navbar {
    display: flex;

    gap: 30px;
    padding-right: 100px;
  }

  .align-items-center {
    align-items: normal !important;
  }
  .min-vh-100 {
    min-height: 54vh !important;
  }
  .signup-box {
    border-radius: 0;
    height: 553px;
    width: 800px;
    max-width: 800px;
  }

  .copy {
    font-size: 17px !important;
    padding-left: 7px !important;
    font-weight: 400;
  }
}
/* Iphone x */
@media (max-width: 477px) {
  /* Hide the navbar and show the hamburger button on small screens */
  #navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: #d0cad6;
    border: 1px solid #ccc;
  }

  #navbar.show {
    display: flex;
    z-index: 999;
    padding: 5px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .align-items-center {
    align-items: normal !important;
  }
  .min-vh-100 {
    min-height: 54vh !important;
  }
  .signup-box {
    border-radius: 0;
    height: 400px;
  }

  .copy {
    font-size: 17px !important;
    padding-left: 7px !important;
    font-weight: 400;
  }
}
