// style.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

/* Root-level custom properties */
$primary-color: #333;
$secondary-color: #222;
$text-color: #465b52;
$bg-color: #e3e6f3;
$font-stack: "League Spartan", sans-serif;
$base-padding: 1rem;
$box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06);
$link-color: #1a1a1a;
$hover-color: #088178;
$black-mode: #000106;
$base-font-size: 16px;
$border-color: #cce7d0;

/* Global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  width: 100%;
}

/* Other styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: $secondary-color;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: $secondary-color;
}

h3 {
  font-size: sizeMultiplier(2, $base-font-size);
  color: setColor(32px);
}

h4 {
  font-size: 20px;
  color: $secondary-color;
}

h6 {
  font-weight: 500;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: $text-color;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

/*---------------------------------- Header Section----------------------------------------------------------- */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 10px 20px;
  border-bottom: 0.5px solid grey;
  background-color: rgb(208, 202, 214);
  box-shadow: 2px 2px 2px grey;
  border-radius: 4px;
}
/* Hamburger button */
.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-right: 300px;
}

#navbar li {
  list-style: none;
  font-size: 24px;
}
#navbar li a {
  text-decoration: none;
  color: $hover-color;
  font-weight: 600;
}
/*------------------------------------ Hero Image Slider----------------------------------------------------- */
.hero {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.hero .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero .slide.visible {
  opacity: 1;
}

.hero .slide.hidden {
  opacity: 0;
}

.hero .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 15px 5px 15px;
  cursor: pointer;
}

.hero .left-arrow {
  left: 10px;
  border-radius: 5px;
}

.hero .right-arrow {
  right: 10px;
  border-radius: 5px;
}

/* Text overlay */
.text-overlay {
  position: absolute;
  bottom: 45%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  color: #fff;
  border-radius: 5px;
  font-size: 40px;
}
.text-overlay span {
  font-size: 40px;
  text-align: start;
  padding: 0 70px;
}

.buttons {
  display: flex;
  gap: 15px;
}

.buttons a {
  cursor: pointer;
  padding: 10px 40px;
  font-size: 30px;
  background-color: $hover-color;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;

  transition: background-color 0.3s;
}

.buttons a:hover {
  background-color: #fff;
  color: #f39c12;
}

/*--------------Marquee--------------*/
.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  background-color: #f0f0f0;
  perspective: 1000px;
}
.marquee-text {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 25s linear infinite;
  font-size: 24px;
  color: #088178;
}
@keyframes marquee {
  0% {
    transform: translateX(100%) translateZ(0px);
  }
  50% {
    transform: translateX(-50%) translateZ(50px);
  }
  100% {
    transform: translateX(-100%) translateZ(0px);
  }
}

/* Media Queries */

/*  Ipad */
@media (max-width: 799px) {
  body {
    overflow: hidden;
    height: 450px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  /* Ensure that all child elements respect the box-sizing rule */
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  header {
    overflow: hidden;
  }

  #navbar {
    display: flex;

    gap: 30px;
    padding-right: 100px;
  }

  .text-overlay {
    font-size: 30px;
    width: 100%;
    padding-left: 177px;
  }

  .text-overlay span {
    padding: 5px 75px;
  }
}
/* Iphone x */
@media (max-width: 477px) {
  /* Hide the navbar and show the hamburger button on small screens */
  #navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: #d0cad6;
    border: 1px solid #ccc;
  }

  #navbar.show {
    display: flex;
    z-index: 999;
    padding: 5px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hero {
    height: 450px;
  }

  .hero .arrow {
    top: 60%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px 5px 15px;
  }
  .hero .left-arrow {
    left: 0;
  }

  .hero .right-arrow {
    right: 0;
  }

  .text-overlay {
    bottom: 50%;
    left: 40%;
    border-radius: 5px;
    font-size: 20px;
    width: 100%;
    padding-left: 90px;
  }

  .text-overlay span {
    font-size: 20px;
    padding: 0 70px;
  }

  .buttons {
    display: flex;
    gap: 15px;
    height: 60px;
  }

  .buttons a {
    cursor: pointer;
    font-size: 25px;
    transition: background-color 0.3s;
    padding: 10px 20px;
  }

  .buttons a:hover {
    background-color: #fff;
    color: #f39c12;
  }
  .copy {
    text-align: start !important;
    font-size: 18px !important;
    padding-left: 9px !important;
    font-weight: 600;
  }
}
