// style.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)


@import "../../node_modules/bootstrap/scss/bootstrap";


// Then add additional custom code here

/* League Spartan Google Font */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/* Import Sass Files */
@import 'function';

/* Root-level custom properties */
    $primary-color: #333;
    $secondary-color: #222;
    $text-color: #465b52;
    $bg-color: #E3E6F3;
    $font-stack: 'League Spartan', sans-serif;
    $base-padding: 1rem;
    $box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06);
    $link-color: #1a1a1a;
    $hover-color: #088178;
    $black-mode:#000106;
  
  /* Global styles */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: $font-stack;
    width: 100%;
  }
  
  /* Other styles */
  
  h1 {
    font-size: 50px;
    line-height: 64px;
    color: $secondary-color;
  }

  h2 {
    font-size: 46px;
    line-height: 54px;
    color: $secondary-color;
  }

  h3 {
    font-size: 30px; 
    color: set-color(30px); 
  }
  

  h4 {
    font-size: 20px;
    color: $secondary-color;
  }

  h6 {
    font-weight: 500;
    font-size: 12px; 
  }

  p {
    font-size: 16px;
    color: $text-color;
    margin: 15px 0 20px 0;
  }

  .section-p1 {
    padding: 40px 80px;
  }

  .section-m1 {
    margin: 40px 0;
  }

  /* Header Start */
  #header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 20px 0px 20px 0px;
    background: $bg-color;
    box-shadow: $box-shadow;
  }

  #navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
  }

  #navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: $link-color;
    cursor: pointer;
    transition: 0.3s ease;
  }

  #navbar li a:hover, #navbar li a.active {
    color: $hover-color;
  }
  #navbar li a.active::after, #navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: $hover-color;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }

  .dark-theme {
    background-color: $black-mode;
}

    #modeIcon {
        width: 30px;
        cursor: pointer; 
        display: inline-block;  
        margin-top: -22px;
        background: transparent;
    }



   /* Home Page */