// style.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)


@import "../../node_modules/bootstrap/scss/bootstrap";


// Then add additional custom code here

/* Import Sass Files */
@import 'function';

/* Root-level custom properties */
    $primary-color: #333;
    $secondary-color: #222;
    $text-color: #465b52;
    $bg-color: #E3E6F3;
    $font-stack: 'League Spartan', sans-serif;
    $base-padding: 1rem;
    $box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06);
    $link-color: #1a1a1a;
    $hover-color: #088178;
    $black-mode:#000106;
    $base-font-size: 16px;
    $border-color: #cce7d0;
  
  /* Global styles */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: $font-stack;
    width: 100%;
  }
  
  /* Other styles */
  
  h1 {
    font-size: 50px;
    line-height: 64px;
    color: $secondary-color;
  }

  h2 {
    font-size: 46px;
    line-height: 54px;
    color: $secondary-color;
  }

  h3 {
    font-size: sizeMultiplier(2, $base-font-size);
    color: setColor(32px); 
  }
  

  h4 {
    font-size: 20px;
    color: $secondary-color;
  }

  h6 {
    font-weight: 500;
    font-size: 12px; 
  }

  p {
    font-size: 16px;
    color: $text-color;
    margin: 15px 0 20px 0;
  }

  .section-p1 {
    padding: 40px 80px;
  }

  .section-m1 {
    margin: 40px 0;
  }

  button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff ;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
  }

  button.white {
    font-size: 16px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent ;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
  }

  /* Header Start */
  #header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 20px 0px 20px 0px;
    background: $bg-color;
    box-shadow: $box-shadow;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
  }

  #navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
  }

  #navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: $link-color;
    cursor: pointer;
    transition: 0.3s ease;
  }

  #navbar li a:hover, #navbar li a.active {
    color: $hover-color;
  }
  #navbar li a.active::after, #navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: $hover-color;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }

  #mobile {
    display: none;
    align-items: center;
  }

  #close {
    display: none;
  }


  /* Light and Dark Theme */
  .dark-theme {
    background-color: $black-mode;
}

#modeIcon {
  width: 30px;
  cursor: pointer; 
  display: inline-block;  
  margin-top: -22px;
  background: transparent;
}    

   /* Home Page */
   #hero {
    background-image: url('../../public/img/hero4.png');
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
   }

   #hero h4 {
    padding-bottom: 15px;
   }

   #hero h1 {
    color: $hover-color;
   }

   #hero button {
    background-image: url('../../public/img/button.png');
    background-color: transparent;
    color: $hover-color;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: sizeMultiplier(0.9375, $base-font-size);
   }

   #feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
   }

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid $border-color;
    border: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: $hover-color;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc ;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2 ;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8 ;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6 ;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5 ;
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02) ;
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06) ;

}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}
#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: $hover-color;
}

#product1 .pro .cart {
    color: #088178;
    font-size: 18px;
    background-color: #e8f6ea;
    height: 50px;
    width: 50px;
    line-height: 20px;
   padding: 18px 0 0 0;
    border-radius: 30px;
    font-weight: 500;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;  
    
}

/* Drop down Menu */
.myFas {
  float: right;
  padding-top: 3px;
  margin-left: 2px;
}

.dropdown {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: $bg-color;
  padding-top: 6px;
 
  
}

#navbar .dropdown_menu ul li {
  display: block;
  margin: 10px;
  
 
}

.dropdown_menu .dropdown {
  text-align: center;
  padding: 2px;;

}

.dropdown_menu .dropdown li a {
  color: $link-color;
  font-weight: 900;
}
/* Drop down Menu  ends*/

/* Banner Section */
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../../public/img/banner/b2.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: #fff;
  font-size: sizeMultiplier(1.1, $base-font-size);
}

#banner h2 {
  color: #fff;
  font-size: sizeMultiplier(1.9, $base-font-size);
}

#banner h2 span {
  color: #ef3636; 
}

#banner button:hover {
 background: $hover-color;
 color: #fff;
}

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../../public/img/banner/b17.jpg");
  min-width: 550px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

#sm-banner .banner-box2 {
  background-image: url("../../public/img/banner/b10.jpg");

}




#sm-banner h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
}

#sm-banner h2 {
  color: #fff;
  font-size: 34px;
  font-weight: 800;
}

#sm-banner span {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover  button{
  background-color: $hover-color;
  border: 1px solid $hover-color;
}

#banner3 {
  display: flex; 
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../../public/img/banner/b7.jpg");
  min-width: 32%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}
#banner3 .banner-box3 {
  background-image: url("../../public/img/banner/b18.jpg");

}

#banner3 .banner-box2 {
  background-image: url("../../public/img/banner/b4.jpg");

}

#banner3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}

#banner3 h3 {
  color: #ec544e;
  font-weight: 900;
  font-size: 15px;
  margin-top: -18px;
}

/* Newsletter */ 
#newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url("../../public/img/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
  
}

#newsletter h4 {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

#newsletter p {
  font-size: 20px;
  font-weight: 650;
  color: #818ea0;
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter input {
  height: 3.1230rem;
  padding: 0 1.25rem;
  font-size: 16px;
  width: 100%;
  border: 1px solid transparent;
  border-radius:  4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}


#newsletter input[type="email"]:focus:invalid {
  border: 2px solid red; 
}

#newsletter input[type="email"]:valid {
  border: 2px solid $hover-color; 
}

#newsletter button {
  background-color: $hover-color;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 3.125rem;
  display: inline-block;


}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .myCol {
  min-width: 20%;
  gap: 4px;

}

footer .myCol:nth-child(2), footer .myCol:nth-child(3) {
  display: flex;
  flex-direction: column;
  
}

footer .myCol:nth-child(2) a, footer .myCol:nth-child(3) a {
 text-decoration: none;
 font-size: 16px;
 color: #465b52;;
}

footer .myCol .install {
  display: flex;
  flex-direction: row;
}

footer .myCol .install img {
  width: 100%;
  border: 1px solid $hover-color;
  border-radius: 6px;
}

.follow h4 {
  font-size: 25px;
}

/* Style for the Follow Us icons */
.follow .icon a i {
  font-size: 20px; 
  margin-right: 10px; 
}


.follow .icon a[href*="facebook.com"] i {
  color: #1877F2; 
}


.follow .icon a[href*="twitter.com"] i {
  color: #1DA1F2; 
}


.follow .icon a[href*="instagram.com"] i {
  color: #E4405F; 
}


.follow .icon a[href*="linkedin.com"] i {
  color: #0077B5; 
}


.follow .icon a[href*="youtube.com"] i {
  color: #FF0000; 
}


/* Customize the appearance of the google translate dropdown */
#google_translate_element .goog-te-combo {
  width: 200px; /* Set a specific width */
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: $hover-color;
  color: #333;
  font-weight: 800;
  font-size: sizeMultiplier(1, $base-font-size);
}

#google_translate_element .goog-te-combo option:hover {
  background-color: $hover-color;
}


#google_translate_element .goog-te-combo option {
  font-size: 16px;
  background-color: $hover-color;
  color: #fff;
}

#google_translate_element .goog-te-combo option:nth-child(1) {
  font-size: 16px;
  background-color: $hover-color;
  color: $black-mode;
}

p.copy {
  font-size: 20px;
  margin-bottom: 10px !important;
}




/* Media Queries */
@media (max-width: 799px) { 
  /* Global style */

 .section-p1 {
    padding: 40px 40px;
  }

  /* Navbar */
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
}

#navbar.active {
  right: 0;
}

#navbar li {
  margin-bottom: 25px;
}

#navbar li a {
  font-size: 24px;
}

#mobile {
  display: flex;
  align-items: center;
}

#mobile i {
   color: #1a1a1a;
   font-size: 24px;
   padding-left: 20px;
}

#close {
  display: initial;
  position: absolute;
  top: 30px;
  left: 30px;
  color: #222;
  font-size: 24px;
}
#lg-bag {
  display: none;
}

#modeIcon {
  padding-top: 18px;
}  

/* Hero Section */

#hero {
  height: 70vh;
  padding: 0 80px;
  background-position: top 30% right 30%; 
}

/* Feature */

#feature {
  justify-content: center;
  flex-wrap: wrap;
}

#feature .fe-box {
  margin: 15px 15px;
}

/* Product */
#product1 .pro-container {
  justify-content: center;
}

#product1 .pro {
  margin: 15px;
}

/* Banner Section */
#banner {
  height: 20vh;
}

#sm-banner .banner-box {
  min-width: 100%;
  height: 30vh; 
}

#sm-banner .banner-box:nth-child(1) {
  margin-bottom: 25px;
}

#banner3 {
  padding: 0 40px ;
}

#banner3 .banner-box {
 width: 28% ;
}

/* Newsletter */
#newsletter .form {
  width: 70%;
}

footer {
  position: relative;
  min-height: 53vh;
}

footer .myCol:nth-child(4){
  position: absolute;
  left: 50%;
  top: 40%;
}

p.copy {
  padding-bottom: 16px;
  font-weight: 600;
}
}

/* Iphone x */
@media (max-width: 477px) {

  .section-p1 {
    padding: 20px;
  }
  #header {
    padding: 10px 17px;
  }
 
  #hero {
    padding: 0 20px;
    background-position: 58%;

    h2 {
      font-size: 37px;
      font-weight: 600;
    }

    h1 {
      font-size: 42px;
      font-weight: 700;
    }
  }

  #feature {
    justify-content: space-between;
  }

  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }

  #product1 .pro {
    width: 100%;
  }

  #banner {
    height: 40vh;
  }

  #sm-banner .banner-box {
    height: 40vh;
  }

  #banner3 {
    padding: 0 20px;
  }

  #banner3 .banner-box {
    width: 100%;
  }

  #newsletter {
    padding: 40px 20px;
  }

  #newsletter .form {
    width: 100%;
  }

  footer .myCol {
    width: 100%;
    padding-left: 30px;
    padding-bottom: 20px;
  }


  footer {
    position: static;
    min-height: 62vh;
  }
  
  footer .myCol:nth-child(4){
    position: static;
    
  }

  footer .myCol:nth-child(4) .install img {
    width: 150px;
    margin-right: 4px;
  }

  p.copy {
    font-size: 16px !important;
  }








}

 